#store{
    display: flex;
    flex-direction: column;
    align-items:  center;
    --font-store: 'Montserrat', sans-serif;
  }
  #store-products-section {
      /* border: solid 1px gray; */
      margin: 0 0 0 0;
  }
  /* #store-products-section > * {
   background: white;
  } */

  #store-products-section #stores-header {
      font-size: 2rem;
      font-family: var(--font-store);
      font-weight: bolder;
      /* border: solid 1px black; */
      margin: 0 0 10px 0;
  }
  #products {
      display: grid;
      grid-template-columns: repeat(3, 240px);
      grid-gap: 15px;
      /* border: solid 1px black; */
      grid-auto-rows: 230px;
  }
  
 
  #products > * {
    padding: 20px;
    background: white;

  }

  .product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
      /* cursor: pointer; */
      border: none;
      border-radius: 5px;
  }
  .product > * {
    padding: 0;
    /* border: solid 1px black; */
  }
  .pdct.content {
    font-family: var(--font-store);
  }

  .pdct.content > * {
      padding: 5px;
      /* border: solid 1px red; */
      margin: 0;
  }

  /* .product h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.6rem;
    padding: 5px;
    margin: 0;
} */
.product .product-section-header {
  font-size: 1.6rem;
  font-family: 'Archivo Black', sans-serif;
  /* border: solid 1px black; */
  background: #FF851B;
  /* padding: 10px; */
  margin: 0;
}

/* .product:hover{
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
} */
/* #store-products-footer{
    font-size: 2rem;
    font-family: var(--font-store);
    font-weight: bolder;
    margin: 0 0 5px 0;
} */

#store-products-footer{
    background: var(--store-color);
    font-size: 1rem;
    padding: 10px;
    font-family: var(--font-store);
    margin: 30px 0 30px 0; 
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

#create-product {
  display: flex;
  justify-content: center;
  /* border: solid 1px black; */
  margin: 0 0 30px 0; 
}
#create-product header{
  font-family: var(--store-header);
  /* border: solid 1px blue; */
}
#create-product #create-form {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background: var(--store-color);
  /* border: solid 1px red; */
  width: 50%;
}

#create-product  input {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  font-family: var(--font-store);
}
#create-product button {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  font-family: var(--font-store);
  cursor: pointer;
}
#create-product  textarea {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  font-size: .8rem;
  resize: none;
}
#create-product  label {
  display: block;
  margin: 0 0 10px 0;
}
#create-product .form {
  margin: 20px 0 0 0;
}
#create-product  button {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  background-color: rgb(111, 146, 206)
}

.select-product {
  display: block;
  padding: 10px;
  /* border: solid 1px black; */
  color: #fff;
  cursor: pointer;
}
.select-product:hover{
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
}