<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Montserrat|Oswald|Raleway" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css" />
    
    {{ block "styles" . }} {{ end }}
    <title>products</title>
  </head>
  <body>
    <nav id="store-app-nav">
      <ul id="nav-list">
        <li class="nav logo">
          <a href="/">
            <span> STORE APP </span>
          </a>
        </li>
        <li class="nav stores-nav">
          <a href="/products/">
            <span class="nav-icon store-icon">
              <i class="material-icons">
                store
              </i>
            </span>
            <span>STORE</span>
          </a>
        </li>
        <li class="nav top-stores-nav">
          <a href="/top-products/">
            <span class="nav-icon star-icon">
              <i class="material-icons">
                star
              </i>
            </span>
            <span> TOP PRODUCTS</span>
          </a>
        </li>
        <li class="nav add-store-nav">
          <a href="/create-product/">
            <span class="nav-icon add-icon">
              <i class="material-icons">
                add_box
              </i>
            </span>
            <span>ADD PRODUCT</span>
          </a>
        </li>
          <li class="nav add-store-nav">
            <a href="#">
              <span>LOGOUT</span>
            </a>
          </li>
          <li class="nav add-store-nav">
            <a href="/register/">
              <span>REGISTER</span>
            </a>
          </li>
          <li class="nav add-store-nav">
            <a href="/login/">
              <span>LOGIN</span>
            </a>
          </li>
      </ul>
    </nav>
    <main>
      {{ block "main" . }} {{ end }}
    </main>
    {{ block "section" . }} {{ end }}
  </body>
  {{ block "script" . }} {{ end }}
</html>
