{{ define "styles" }}
<link
    rel="stylesheet"
    href="/static/css/auth.css"
/>
{{ end }}
{{ define "main" }}
<section id="register-form-section">
    <form method="post" id="register-form">
        <h1>Login</h1>
        <section class="form form-group">
            <label for="username">email</label>
            <input type="text" autocomplete="off" id="email" name="email">
        </section>
        <section class="form-form-grup">
            <label for="username">password</label>
            <input type="password" autocomplete="off" id="password" name="password">
        </section>
        <section class="form form-group">
            <button id="btn" class="btn-submit login">login</button>
        </section>
    </form>
</section>
{{ end }}